<!doctype html>
<html lang="en">
<head>
    <title>Iframe</title>
    <link rel='stylesheet' id='jquery-ui-css-css' href='css/jquery-ui.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='wdm-featherlight-css-css' href='css/featherlight.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='wdm-featherlightg-css-css' href='css/featherlight.gallery.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='wdm-slidepanel-css-css' href='css/jquery.slidepanel.css' type='text/css' media='all'/>
</head>
<body>
<iframe id="srcpage" style="height:585px;" src="tabsaccordion.html" data-slidepanel="panel" class="wdm-panel-btn fa fa-question-circle"></iframe>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type='text/javascript' src='js/jquery-ui.js'></script>
<script type='text/javascript' src='js/featherlight.min.js'></script>
<script type='text/javascript' src='js/featherlight.gallery.min.js'></script>
<script type='text/javascript' src='js/jquery.slidepanel.js'></script>
</body>
</html>