/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
table.bitscr-courses { width: 100%;}
.bitscr-courses .bitscr_crs_sync { text-align: left;}
.bitscr-courses td { text-align: center; border-bottom: 1px solid #ccc;}
.bitscr-courses th { border-bottom: 2px solid #999;}
.bitwise-content-form tr td:first-child { width: 45%;}
.bitwise-content-form tr td { padding: 5px 0; }
.bitscr-courses th { text-align: center; }
.bitscr-courses th:last-child, .bitscr-courses td:last-child { text-align: left; }
.bitwise-content-form-table #bitscr_course, .bitwise-content-form-table #bitscr_lessons, .bitwise-content-form-table input[type="text"] { width: 100%;}
.bitwise-content-table-form { width: 550px;}
.bitwise-content-form .wp-spin.spinner { position: relative; left: 6px; top: -3px;}
.bitscr-instance-table .bitscr-content td { padding-left: 10px;}
.bitwise-content-table-form .bitscr-label label { display: inline-block; width: 30%;}